@import "variables";
.quiz-wrapper {

  .empty {
    width: 1px;
    height: 1px;
  }

  .question-wrapper {
    background-color: var(--secondary-bg);
    border-radius: 16px;
    padding: 12px 12px 24px 12px;

    .inner-wrapper {
      background-color: var(--primary-bg);
      padding: $space-2;
      border-radius: 16px;
    }
  }

  //img {
  //  position: absolute;
  //  bottom: 0;
  //}
}

