<div class="wrapper" [@slowSlide]>

  <h5>Question {{currIndex + 1}}/{{amount}}</h5>

  <h1>{{question.question}}</h1>

  <div class="answers-wrap">
    <ng-container *ngFor="let answer of question.answers">
      <button (click)="getResult(answer)" mat-flat-button color="secondary"
        [disabled]="userAnswer" [ngClass]="getButtonClass(answer)">
        {{answer}}
      </button>
    </ng-container>
  </div>

</div>

<ng-container *ngIf="userAnswer">
  <div class="btn-wrap">

    <ng-container *ngIf="!isLastQuestion; else last">
      <button [@slideUp] id="next" (click)="nextQuestion()" mat-flat-button color="primary">
        Next
        <mat-icon class="animate">arrow_right_alt</mat-icon>
      </button>
    </ng-container>

    <ng-template #last>
      <button [@slideUp] id="results" (click)="goToResults()" mat-flat-button color="primary">
        Results
        <mat-icon>last_page</mat-icon>
      </button>
    </ng-template>

  </div>
</ng-container>
