<div class="wrapper flex column align-center justify-between">

  <div>
    <img src="assets/images/temp-img.png" class="mb-3 no-point" alt="">

    <p class="question-text text mb-5">
      რომელი რომანის მთავარი პერსონაჟის სახელი შეიძლება გავიგოთ საქართველოს ჰიმნის დასაწყისში?
    </p>

    <div class="answer mb-5">
      <ng-container *ngIf="true">
        <app-multiple-choice [correctIndex]="correctAnswerIndex"
                             [incorrectIndex]="incorrectAnswerIndex"
                             [selectedIndex]="selectedAnswerIndex"
                             (selectAnswer)="selectAnswer($event)"
        ></app-multiple-choice>
      </ng-container>

      <ng-container *ngIf="false">
        <app-fill></app-fill>
      </ng-container>
    </div>
  </div>

  <button (click)="onSubmit()">დაადასტურე</button>
</div>

