<div class="wrapper flex column align-center">

  <img src="assets/images/temp-img.png" class="mb-3" alt="">

  <p class="question-text text mb-4">
    რომელი რომანის მთავარი პერსონაჟის სახელი შეიძლება გავიგოთ საქართველოს ჰიმნის დასაწყისში?
  </p>

  <div class="answer mb-5">
    <ng-container *ngIf="false">
      <app-multiple-choice></app-multiple-choice>
    </ng-container>

    <ng-container *ngIf="true">
      <app-fill></app-fill>
    </ng-container>
  </div>

  <button>დაადასტურე</button>
</div>

