<div class="flex column align-center mb-5">
  <p class="title mb-1">გამარჯობა ლუკა</p>

  <p class="text">შენ დააგროვე <span>135 ქულა</span></p>
</div>

<div class="menu flex column align-center mb-4">
  <div class="row flex">
    <div class="card text">
      თამაშის წესები
    </div>

    <div class="card text">
      ლიდერბორდი
    </div>
  </div>

  <div class="row flex">
    <div class="card text">
      კატალოგი
    </div>

    <div class="card text">
      არქივი
    </div>
  </div>
</div>

<div class="main-content-wrapper mb-3">
  <div class="inner-wrap">
    <ng-container *ngIf="state === 1">
      <app-question-ready></app-question-ready>
    </ng-container>

    <ng-container *ngIf="state === 2">
      <app-countdown></app-countdown>
    </ng-container>

    <ng-container *ngIf="state === 3">
      <app-no-info></app-no-info>
    </ng-container>
  </div>

  <img src="assets/images/bg-fingerprint.png" alt="">
</div>

<div class="bottom-hint flex align-center justify-between">
  <p class="text">
    დააგროვე ქულები და მოემზადე ფინალური თამაშისთვის
  </p>

  <button class="forward-btn" (click)="changeState()">
    <img src="assets/icons/arrow.svg" alt="arrow">
  </button>

  <img src="assets/images/fingerprint.png" alt="" class="fingerprint">
</div>
