<div class="wrapper flex column">
  <ng-container *ngFor="let answer of [1,2,3,4]; let i = index">
    <button class="answer flex align-center"
            [ngClass]="{
              'success' : i + 1 === correctIndex,
              'error' : i + 1 === incorrectIndex,
              'selected': i + 1 === selectedIndex
            }"
            (click)="onSelect(i + 1)"
    >
      <span class="index title-large">{{'0' + (i + 1)}}</span>
      <span class="text">მე, ბებია, ილიკო და ილარიონი</span>

    </button>
  </ng-container>
</div>
