<div [formGroup]="form" [@slowSlide]>
  <div class="wrapper">
    <mat-form-field appearance="standart">
      <mat-label>Choose a category</mat-label>
      <mat-select [formControl]="category">
        <mat-option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="wrapper">
    <mat-form-field appearance="standart">
      <mat-label>Choose difficulty</mat-label>
      <mat-select [formControl]="difficulty">
        <mat-option *ngFor="let difficulty of difficulties" [value]="difficulty">
          {{difficulty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container>
    <div class="btn-wrap">
      <button (click)="back()" mat-flat-button color="primary">
        Back
      </button>
      <button (click)="submit()" mat-flat-button color="primary">
        Start
        <mat-icon class="animate">arrow_right_alt</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
