@use "variables";
@use "fonts";
@use "spacing";
@use "positioning";

:root {
  --primary-bg: #FFFFFF;
  --secondary-bg: #F5F5F5;
  --brand: #3C91F7;
  --brand-light: #00C4FF;
  --text-light: #80848A;
  --text-strong: #202124;
  --success: #83EEB3;
  --error: #F7024D;
}

// ADD Theme Variables HERE
//.dark {
//  --primary-bg: black;
//  --secondary-bg: black;
//  --brand: black;
//  --text-light: #2C2C2C;
//  --text-strong: #202124;
//  --success: #83EEB3;
//  --error: #F7024D;
//}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-style: normal;
  font-family: 'TBC X', sans-serif;
}

body {
  width: 100vw;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: var(--text-strong);
}

.title-large {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--text-strong);
}

.text {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: var(--text-light);
}

button {
  border: none;
  width: 263px;
  font-size: 14px;
  padding: 10px 0;
  border-radius: 60px;
  font-weight: 500;
  background-color: var(--brand);
  color: var(--primary-bg);
}
