html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.wrapper {
  min-width: 360px;
}

.mat-form-field {
  width: 100%;
  font-size: 20px;
}

button {
  mat-icon {

    &.animate {
      animation: pulse 2s infinite;
    }

    @keyframes pulse {
      0% {
        transform: scale(0.75);
      }

      70% {
        transform: scale(1);
      }

      100% {
        transform: scale(0.75);
      }
    }
  }
}
