@font-face {
  font-family: "TBC X";
  font-style: normal;
  font-weight: 300;
  src: local("TBX X"), url(../fonts/TBCX-Light.otf);
}

@font-face {
  font-family: "TBC X";
  font-style: normal;
  font-weight: 400;
  src: local("TBX X"), url(../fonts/TBCX-Regular.otf);
}

@font-face {
  font-family: "TBC X";
  font-style: normal;
  font-weight: 500;
  src: local("TBX X"), url(../fonts/TBCX-Medium.otf);
}

@font-face {
  font-family: "TBC X";
  font-style: normal;
  font-weight: 700;
  src: local("TBX X"), url(../fonts/TBCX-Bold.otf);
}

@font-face {
  font-family: "TBC X";
  font-style: normal;
  font-weight: 900;
  src: local("TBX X"), url(../fonts/TBCX-Black.otf);
}
